.app-container {
  background: var(--primary-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-text);
  cursor: url('/oval-cursor.png'), auto;
}

/* Main progress bar styling */
#main-progress {
  appearance: none;
  height: 65px;
  width: 750px;
  border-radius: 100px;
  margin-top: 30px;
  transition: width 0.3s ease;
}

#main-progress::-webkit-progress-bar {
  background: var(--neutral-dark);
  border-radius: 50px;
}

#main-progress::-webkit-progress-value {
  background-color: var(--primary-theme);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  min-width: 50px;
  box-shadow: 0 0 40px 10px rgba(133, 203, 51, 0.5);
  transition: background-color 0.3s ease;
}

#main-progress::-moz-progress-bar {
  background-color: var(--primary-theme);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  min-width: 50px;
  box-shadow: 0 0 20px 5px var(--primary-theme);
}

/* Year progress container */
.year-progress {
  width: 100%;
  height: fit-content;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  background: var(--primary-background); /* Ensure no shading */
}

/* Text styling */
.year-progress-text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.6;
  max-width: 80%;
  color: var(--primary-text);
  padding: 10px;
}

/* Style for the year heading */
#year-progress-head {
  font-weight: bold;
  color: var(--primary-theme);
  font-size: 1.5em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .year-progress-text {
    font-size: 1.2em;
    padding: 0 20px;
  }

  #main-progress {
    width: 90%;
    height: 50px;
  }

  .year-progress {
    padding: 40px 10px;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .year-progress-text {
    font-size: 1em;
  }

  #main-progress {
    height: 40px;
  }

  .year-progress {
    padding: 30px 10px;
    gap: 20px;
  }
}