:root {
  /* Dark Mode Defaults */
  --primary-background: #02111b;
  --container-background: #0b1d1d;
  --primary-text: #f6f0ed;
  --primary-theme: #85cb33;
  --secondary-theme: #b64c17;
  --accent-light: #4c9b2f;
  --accent-dark: #5b3f1e;
  --neutral-light: #a6a6a6;
  --neutral-dark: #333333;
  --highlight: #ffb400;
  --hover: #6f8e3c;
  --disabled: #8d8d8d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-text);
  line-height: 1.6;
}