:root {
  /* Dark Mode Defaults */
  --primary-background-dark: #02111b;
  --container-background-dark: #0b1d1d;
  --primary-text-dark: #f6f0ed;
  --primary-theme-dark: #85cb33;

  /* Light Mode Defaults */
  --primary-background-light: #ffffff;
  --container-background-light: #f0f0f0;
  --primary-text-light: #02111b;
  --primary-theme-light: #85cb33;
}

/* Default to dark mode */
:root {
  --primary-background: var(--primary-background-dark);
  --container-background: var(--container-background-dark);
  --primary-text: var(--primary-text-dark);
  --primary-theme: var(--primary-theme-dark);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-text);
  line-height: 1.6;
}